{% extends 'meetups/main.html' %}
{% block title %} Success{% endblock title%}
{% block slider %} {% endblock%}
{%  block page_title%}<h2>Message Sent Succefully</h2>{%endblock%}
{% block content%}

 <!-- Start Cta Area -->
 <section id="call-action" class="call-action">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
          <div class="inner-content">
            
            <p>
                Thanks You For Contacting Us! 
                <strong >We will get back to you soon ...... </strong><br />
             
            </p>
            <div class="light-rounded-buttons">
              <a href="{%url 'meetups'%}" class="btn primary-btn-outline">Want To Browse Our Meetups?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Cta Area -->



 {% endblock%}
 {%block clt%}{%endblock%}