{% extends 'meetups/main.html' %}
{% block title %} Add Meetups{% endblock title%}
{% block slider %} {% endblock%}
{%block page_title%}
</br>
<h2 >Add Meetups </h2>
{%endblock%}
{% block content%}
<section id="contact" class="contact-section">
    <div class="container">
      <div class="row">
        
        
        <div class="col-xl-12">
          <div class="contact-form-wrapper">
            <div class="row">
              <div class="col-xl-10 col-lg-8 mx-auto">
                <div class="section-title text-center">
                 
                  <h2>
                    Create Meetup
                  </h2>
                  <p>
                   Note: Make sure you activate your meetup to make it listed in home
                  </p>
                </div>
              </div>
            </div>
            <form action="" class="contact-form" method="POST"  enctype="multipart/form-data">
                {%csrf_token%}
              <div class="row">
                <div class="col-md-12">
                 {{ form.as_p}}
                </div>
                
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <div class="button text-center rounded-buttons">
                    <button type="submit" class="btn primary-btn rounded-full">
                   Add
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
{% endblock content%}
{% block clt%}{% endblock%}


